.container {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
  
  .spinner {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
  .spinner:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid;
    border-color: transparent #15a78a transparent;
    animation: loading 1s linear infinite;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  